@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --dark: #292830;
  --dark-semi: #373540;
  --dark-grey: #6d6b76;
  --grey: #92909d;
  --light-grey: #f0f1f4;
  --lighter-grey: #f7f9fb;
  --blue: #97f3ff;
  --green: #a2f660;
  --red: #f75353;
  --bg: #fafafa;
  --b-light-grey: #ebedf1;
}

body {
  background-color: var(--bg);
  color: var(--dark);
  font-weight: 500;
  height: 100vh;
}

/* Layout */
header {
  padding: 28px 32px;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}

header h1 {
  cursor: pointer;
}

main.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

main.inner-page {
  height: calc(100% - 80px);
  overflow-y: scroll;
}

main h1 {
  font-size: 18px;
  margin-bottom: 32px;
  font-weight: 500;
  text-align: center;
}

/* Inner page */
.inner-page .list {
  margin: 20px auto;
  width: 434px;
}

/*Card component */
.card {
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(48, 46, 56, 0.03);
  padding: 16px;
  width: 407px;
}

.card label {
  display: block;
  font-size: 12px;
  line-height: 15px;
}

.card input {
  background-color: var(--lighter-grey);
  border: 1px solid #f0f2f5;
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--dark);
  height: 32px;
  padding: 8px;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  margin: 8px 0 0;
  transition: background 0.2s;
}

.card input:hover {
  background: var(--light-grey);
  border: 1px solid var(--b-light-grey);
  cursor: pointer;
}

.card input:focus {
  background-color: var(--light-grey);
  background: var(--light-grey);
  border: 1px solid rgba(109, 107, 118, 0.1);
  outline: none;
}

.card .error {
  color: var(--red);
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
}
.card .error b {
  font-weight: 500;
}

/* Buttons */
.btn {
  border-radius: 3px;
  font-size: 12px;
  transition: all 0.2s;
}

.btn-primary {
  align-items: center;
  background-color: var(--dark-semi);
  border: 1px solid var(--dark);
  box-shadow: 0px 2px 8px rgba(109, 107, 118, 0.05);
  color: var(--white);
  display: flex;
  height: 32px;
  justify-content: center;
  margin: 20px 0 0;
  width: 100%;
}

.btn-primary svg {
  margin-right: 7px;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--dark);
  border: 1px solid var(--dark-semi);
}

.btn-secondary {
  background-color: transparent;
  color: var(--dark-grey);
  height: 27px;
  line-height: 27px;
  opacity: 0.6;
  padding: 0px 8px;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #f0f2f5;
  color: var(--dark);
}

/* Eth components */
.row,
.address-row {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(48, 46, 56, 0.03);
  padding: 12px 16px;
}

.row {
  display: flex;
}

.row .icon {
  border-radius: 50%;
  height: 32px;
  overflow: hidden;
  width: 32px;
}

.row .coin-value {
  flex: 1;
  padding: 0 12px;
}

.row h3,
.address-row h3 {
  font-size: 13px;
  margin-bottom: 4px;
}

.row .coin-value span,
.row .coin-value p,
.address-row p {
  color: var(--dark-grey);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.title-h2 {
  color: var(--dark-grey);
  font-size: 13px;
  margin-bottom: 12px;
  padding-left: 20px;
}
.section {
  margin-bottom: 32px;
}

/*Blur shapes */
.blur-shape {
  width: 436px;
  height: 436px;
  opacity: 0.2;
  filter: blur(509.072px);
  position: absolute;
  mix-blend-mode: multiply;
}

.blur-shape-red {
  background: var(--red);
  left: 229px;
  top: 221.51px;
}

.blur-shape-blue {
  background: var(--blue);
  left: 615.89px;
  top: 89.15px;
}

.blur-shape-green {
  background: var(--green);
  left: 413.96px;
  top: 62px;
}

.inner-page .blur-shape {
  filter: blur(300px);
}
